*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'VT323', monospace;
}

.Header{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.Board{
    margin: 1vw 10vw 1vw 10vw;
    .Row{
        display: flex;
        .Cell{
            background-color: blue;
            $size: 1.5vw;
            width: $size;
            height: $size;
            margin: 0.5px;
        }
    }
}